<h3 class="mt-2">🌍 Svjetske Go organizacije</h3>
<ul class="list-group mb-4">
    <li class="list-group-item">
        <a href="https://intergofed.org/" target="_blank"><strong>International Go Federation (IGF)</strong></a>
    </li>
    <li class="list-group-item">
        <a href="https://www.nihonkiin.or.jp/english/" target="_blank"><strong>Nihon Ki‑in</strong></a>
    </li>
    <li class="list-group-item">
        <a href="http://english.baduk.or.kr/" target="_blank"><strong>Korean Baduk Association</strong></a>
    </li>
    <li class="list-group-item">
        <a href="https://www.usgo.org/" target="_blank"><strong>American Go Association</strong></a>
    </li>
    <li class="list-group-item">
        <a href="https://www.baduk.club" target="_blank"><strong>Baduk Club</strong></a> – Mapa Go klubova širom sveta sa mogućnošću povezivanja igrača.
    </li>
</ul>

<h3>Evropske Go organizacije</h3>
<ul class="list-group mb-4">
    <li class="list-group-item">
        <a href="https://www.eurogofed.org/" target="_blank"><strong>European Go Federation (EGF)</strong></a>
    </li>
    <li class="list-group-item">
        <a href="https://www.eurogofed.org/egf/" target="_blank"><strong>EGF Ratings &amp; Tournaments</strong></a>
    </li>
    <li class="list-group-item">
        <a href="https://www.europeangodatabase.eu/" target="_blank"><strong>European Go Database</strong></a>
    </li>
</ul>

<h3>🏠 Go organizacije ex‑Yu regiona</h3>
<ul class="list-group mb-4">
    <li class="list-group-item">
        <strong>Go Savez Srbije</strong><br />
        <a href="https://goss.rs/" target="_blank">🌿 www.goss.rs</a><br />
        <a href="https://www.facebook.com/gosavezsrbije" target="_blank">📘 Facebook stranica</a><br />
    </li>

    <li class="list-group-item">
        <a href="https://hgos.hr/" target="_blank"><strong>Hrvatski Go Savez</strong></a>
    </li>
    <li class="list-group-item">
        <a href="https://go-zveza.si/" target="_blank"><strong>Go Zveza Slovenije</strong></a>
    </li>
    <li class="list-group-item">
        <p><strong>Go Klub Reaktor, Banja Luka</strong></p>
    </li>
    <li class="list-group-item">
        <p><strong>Go Klub Sarajevo</strong></p>
    </li>
    <li class="list-group-item">
        <a href="https://www.progo.org.rs" target="_blank"><strong>Go klub PROGO – Niš</strong></a>
    </li>
</ul>

<h3>🕹️ Popularni online Go serveri</h3>
<ul class="list-group mb-4">
    <li class="list-group-item">
        <a href="https://online-go.com/" target="_blank"><strong>Online Go Server (OGS)</strong></a>
        – Najpopularniji zapadni online server.
    </li>
    <li class="list-group-item">
        <a href="https://www.gokgs.com/" target="_blank"><strong>KGS Go Server</strong></a>
        – Jedan od najstarijih i pouzdanih zapadnih servera.
    </li>
    <li class="list-group-item">
        <a href="https://pandanet-igs.com/communities/pandanet" target="_blank"><strong>Pandanet (IGS)</strong></a>
        – Tradicionalni online server sa jakom japanskom zajednicom.
    </li>
    <li class="list-group-item">
        <a href="http://www.tygemgo.com/" target="_blank"><strong>Tygem</strong></a>
        – Popularan korejski server s visokim nivoom takmičenja.
    </li>
    <li class="list-group-item">
        <a href="https://www.lanke.cc/homeen.html" target="_blank"><strong>Lanke Go Server</strong></a>
        – Web-based server sa jednostavnom registracijom.
    </li>
    <li class="list-group-item">
        <a href="https://gogameslive.eu/" target="_blank"><strong>GoGamesLive</strong></a>
        – Prati partije sa evropskih turnira uživo.
    </li>
</ul>

<h3>📚 Edukativni resursi</h3>
<ul class="list-group mb-4">
    <li class="list-group-item">
        <a href="https://learn-go.net/" target="_blank"><strong>Learn Go</strong></a>
        – Interaktivni program za početnike.
    </li>
    <li class="list-group-item">
        <a href="https://senseis.xmp.net/" target="_blank"><strong>Sensei's Library</strong></a>
        – Detaljna Go wiki baza znanja.
    </li>
    <li class="list-group-item">
        <a href="https://gome.at/" target="_blank"><strong>Gome</strong></a>
        – Dashboard integrator za praćenje partija i analiza.
    </li>
</ul>





