

<ul class="list-group">
    <li class="list-group-item">
        <strong>Zelenkovac – Ekološki Pokret i Umjetnička Kolonija</strong><br />
        <a href="https://www.zelenkovac.com/" target="_blank">🌿 www.zelenkovac.com</a><br />
        <a href="https://www.facebook.com/Zelenkovac/" target="_blank">📘 Facebook stranica</a><br />
        Oaza prirode i umjetnosti kod Mrkonjić Grada – kamp, muzika i inspiracija.
    </li>
    <li class="list-group-item">
        <a href="https://ki.unibl.org/" target="_blank"><strong>Konfucijev institut – Banja Luka</strong></a><br />
        Promocija kineskog jezika i kulture pri Univerzitetu u Banja Luci.
    </li>
    <li class="list-group-item">
        <strong>Go klub PROGO – Niš</strong><br/>
        <a href="https://www.progo.org.rs/" target="_blank">🌿 www.progo.org.rs</a><br />
        <a href="https://www.facebook.com/share/1C8Qwh94Xs/" target="_blank">📘 Facebook stranica</a><br />
        Klub ljubitelja igre Go u Nišu – okupljanja, turniri i promocija igre.
    </li>
    <li class="list-group-item">
        <strong>Go Klub Reaktor, Banja Luka</strong>
    </li>
</ul>

